<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
<ion-content>
  <div id="container">
    <!-- <home-page-theme-1 *ngIf="!classToggle"></home-page-theme-1>
    <home-page-theme-2 *ngIf="classToggle"></home-page-theme-2> -->
    <!-- <div class="ion-padding">
      <ion-text [ngClass]="classToggle ? 'txt-1' : 'text-1'">
        {{ classToggle ? 'Welcome to Charted!' : 'Welcome to Redbus' }}
      </ion-text>
    </div>
    <div class="ion-padding">
      <ion-text [ngClass]="classToggle ? 'txt-2' : 'text-2'">
        {{ classToggle ? 'Welcome to Charted!' : 'Welcome to Redbus' }}
      </ion-text>
    </div> -->
  </div>
</ion-content>
