$font: 'Poppins', sans-serif;

.background-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  --ion-background-color:linear-gradient(-45deg, var(--ion-theme-color-7), var(--ion-theme-color-8), var(--ion-theme-color-9));
}

.background-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  --ion-background-color: linear-gradient(45deg, var(--ion-theme-color-10), var(--ion-theme-color-11), var(--ion-theme-color-12), var(--ion-theme-color-13), var(--ion-theme-color-14), var(--ion-theme-color-15));
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.txt-2 {
  text-transform:uppercase;
  font-size: 25px;
  background: linear-gradient(to right, var(--ion-theme-color-1), var(--ion-theme-color-2), var(--ion-theme-color-3), var(--ion-theme-color-4));
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  -webkit-background-clip: text;
}

.txt-1 {
  text-transform: uppercase;
	background: linear-gradient(to right, var(--ion-theme-color-5) 0%, var(--ion-theme-color-6) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-weight: 900;
	font: {
		size: 25px;
		family: $font;
	};
}

.text-1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
  background: -webkit-linear-gradient(var(--ion-theme-color-16), var(--ion-theme-color-17));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-2 {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 25px;
  background-image: linear-gradient(90deg,  var(--ion-theme-color-15), var(--ion-theme-color-6));
  -webkit-background-clip: text;
  color: transparent;
}
